{% for host in hosts %}
  # {{ host.name }}
  object Host "{{ host.id }}" {
      import "generic-host"

      address = "{{ host.local_ip }}"

      {% if host.tags.HttpsCheck is defined %}
      vars.http_vhosts["{{ host.tags.HttpsCheck }}"] = {
        http_vhost = "{{ host.tags.HttpsCheck }}"
        http_ssl = true
        http_sni = true
        http_uri = "/"
      }
      {% endif %}

      {% for metric in host.metrics %}
        {% if metric.__str__() == "Metric:DiskSpaceUtilization" %}
          vars.disks += {
            mountPath = "{{ metric.dimensions['MountPath'][0] }}"
            filesystem = "{{ metric.dimensions['Filesystem'][0] }}"
          }
        {% endif %}
        {% if metric.__str__() == "Metric:LogicalVolumeSpaceUtilization" %}
          vars.volumes += {
            mountPath = "{{ metric.dimensions['MountPath'][0] }}"
            filesystem = "{{ metric.dimensions['Filesystem'][0] }}"
          }
        {% endif %}
      {% endfor %}
  }
{% endfor %}
